In [1]:
import folium
from folium.plugins import MarkerCluster
import pandas as pd

In [2]:
data = pd.read_csv('miami-housing.csv')
data.head()

,LATITUDE,LONGITUDE,PARCELNO,SALE_PRC,LND_SQFOOT,TOT_LVG_AREA,SPEC_FEAT_VAL,RAIL_DIST,OCEAN_DIST,WATER_DIST,CNTR_DIST,SUBCNTR_DI,HWY_DIST,age,avno60plus,month_sold,structure_quality
0,25.891031,-80.160561,622280070620,440000.0,9375,1753,0,2815.9,12811.4,347.6,42815.3,37742.2,15954.9,67,0,8,4
1,25.891324,-80.153968,622280100460,349000.0,9375,1715,0,4359.1,10648.4,337.8,43504.9,37340.5,18125.0,63,0,9,4
2,25.891334,-80.153740,622280100470,800000.0,9375,2276,49206,4412.9,10574.1,297.1,43530.4,37328.7,18200.5,61,0,2,4
3,25.891765,-80.152657,622280100530,988000.0,12450,2058,10033,4585.0,10156.5,0.0,43797.5,37423.2,18514.4,63,0,9,4
4,25.891825,-80.154639,622280100200,755000.0,12800,1684,16681,4063.4,10836.8,326.6,43599.7,37550.8,17903.4,42,0,7,4

In [3]:
old_cols = list(data.columns)
new_cols = ['долгота', 'широта', 'уникальный_номер', 'стоимость_дома', 'площадь_дома_футы', 'площадь_земельного_участка', 'площадь дома', 'стоимость_особых_объектов', 'расст_до_ближ_жд', 'расст_до_океана', 'расст_до_ближ_водоема', 'расст_до_делового_района', 'расст_до_ближ_субцентра', 'расст_до_ближ_шоссе', 'возраст_строения', 'уровень_шума', 'месяц_продажи', 'качество_конструкции']
translation = dict(zip(old_cols, new_cols))

data = data.rename(columns=translation)
data.head()

,долгота,широта,уникальный_номер,стоимость_дома,площадь_дома_футы,площадь_земельного_участка,площадь дома,стоимость_особых_объектов,расст_до_ближ_жд,расст_до_океана,расст_до_ближ_водоема,расст_до_делового_района,расст_до_ближ_субцентра,расст_до_ближ_шоссе,возраст_строения,уровень_шума,месяц_продажи
0,25.891031,-80.160561,622280070620,440000.0,9375,1753,0,2815.9,12811.4,347.6,42815.3,37742.2,15954.9,67,0,8,4
1,25.891324,-80.153968,622280100460,349000.0,9375,1715,0,4359.1,10648.4,337.8,43504.9,37340.5,18125.0,63,0,9,4
2,25.891334,-80.153740,622280100470,800000.0,9375,2276,49206,4412.9,10574.1,297.1,43530.4,37328.7,18200.5,61,0,2,4
3,25.891765,-80.152657,622280100530,988000.0,12450,2058,10033,4585.0,10156.5,0.0,43797.5,37423.2,18514.4,63,0,9,4
4,25.891825,-80.154639,622280100200,755000.0,12800,1684,16681,4063.4,10836.8,326.6,43599.7,37550.8,17903.4,42,0,7,4

In [ ]:
dolgota = data['долгота']
shirota = data['широта']
price = data['стоимость_дома']
area = data['площадь_дома_футы']

def color_change(price):
    if(price < 235000.0):
        return('green')
    elif(235000.0 <= price <310000.0):
        return('orange')
    else:
        return('red')
    
# m = folium.Map(location=[25.761681,-80.191788], zoom_start = 15, tiles = "Cartodb Positron")

m = folium.Map(location=[25.761681,-80.191788], zoom_start = 12, tiles = "Cartodb Positron")

for dolgota, shirota, price, area in zip(dolgota, shirota, price, area):
    folium.CircleMarker(location=[dolgota, shirota], radius = 4, tooltip=f"{price} $", popup=f"Площадь дома: {area} (футы), цена: {price} $", fill_color=color_change(price), color="gray", fill_opacity = 0.9).add_to(m)
m.save("map1.html")

In [ ]:
data.shape

In [ ]:
#перевод из футов в метры

data['площадь_дома_футы'] = data['площадь_дома_футы'].apply(lambda x: x * 0.09290304)

In [ ]:
# кластеры

dolgota = data['долгота']
shirota = data['широта']
price = data['стоимость_дома']
area = data['площадь_дома_футы']

def color_change(price):
    if(price < 235000.0):
        return('green')
    elif(235000.0 <= price <310000.0):
        return('orange')
    else:
        return('red')
    

m = folium.Map(location=[25.761681,-80.191788], zoom_start = 12, tiles = "Cartodb Positron")

marker_cluster = MarkerCluster().add_to(m)
for dolgota, shirota, price, area in zip(dolgota, shirota, price, area):
    folium.CircleMarker(location=[dolgota, shirota], radius = 5, tooltip=f"{price} $", popup=f"Стоимость: {price} $, площадь дома: {area} кв. м", fill_color=color_change(price), color="gray", fill_opacity = 0.9).add_to(marker_cluster)

m.save("map3.html")